<!doctype html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Bilingual Text Tools</title>
	<link rel="stylesheet" type="text/css" href="static/style/main.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <!-- <link href="static/style/smoothness2/jquery-ui-1.11.2.custom.min.css" rel="stylesheet"/>
	<link href="static/style/pagination.css" rel="stylesheet"/>
	-->
	<script src="{{ url_for('static', filename='script/jquery-3.2.0.min.js') }}"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	
   <script src="https://unpkg.com/split.js/split.min.js"></script>
   <!-- <script src="{{ url_for('static', filename='script/jquery-ui-1.11.2.custom.min.js') }}"></script>
	<script src="{{ url_for('static', filename='script/jquery.pagination.js') }}"></script>
	-->
	<script>
	$(document).ready(function() {
		Split(['.left-text', '.right-text'], {
			  sizes: [48, 48],
			  gutterSize: 10,
		});
		$('.split-btn').click(function(){
			var lang = 'jp'
			var text = $('.split-txt').val();
			$.ajax({
				type: "POST",
				url: '/split',
				data: { "text" : text,
						"lang" : lang
					  },
				dataType: "json",
				error: 	function(jqXHR, textStatus, errorThrown){
						// TODO: add handler
						},
				success: function(result, textStatus, jqXHR){
							split_text = result.text;
							$('.align-btn').val(split_text);
						}
			});
		});
	});
	</script>	
</head>
<body>
<h1>Tools to Create Bilingial Texts</h1>
<!-- <div class="text">
	<div class="left-right"> -->

	<div class="left-text ui-widget-content">
		<h3 class="ui-widget-header">Left</h3>
		<div class="text-pane" contenteditable="true">Enter text here...<br><br><br><br></div>
	</div>
	<div class="right-text ui-widget-content">
		<h3 class="ui-widget-header">Right</h3>
		<div contenteditable="true">Enter text here...<br><br><br><br></div>
	</div>

	<button class="align-btn">Align sentences</button>
</body>	